<section class="slider mb-5">
    <div class="slider__item slide-bg-1 d-flex align-items-center">
        <div class="slider__item-content w-100 d-grid gap-5">
            <h2 class="fs-1 fw-bold">Большой выбор травянного чая</h2>
            <p>Узай все подробности, перейдя в наш каталог</p>
            <a [routerLink]="'/catalog'" class="btn btn-primary col-4 col-lg-2">Каталог</a>
        </div>
    </div>
</section>

<section class="faq mb-5">
    <h2 class="text-center mb-5">Ответы на часто задаваемые вопросы</h2>
    <div class="row justify-content-center">
        <div class="col col-lg-10 col-xl-8">
            <div id="accordion">
                <h3
                    class="d-flex flex-row-reverse justify-content-between align-items-center p-3 bg-primary bg-gradient">
                    <span class="accordion-head-main-text">Собираете ли вы подарочные боксы?</span>
                </h3>
                <div>
                    Да, у нас есть такая услуга. Мы можем собрать подарочный бокс на любой вкус, объем и
                    стоимость!
                </div>
                <h3
                    class="d-flex flex-row-reverse justify-content-between align-items-center p-3 bg-primary bg-gradient">
                    Сколько у вас разновидностей чая?</h3>
                <div>
                    У нас представлено 6 видов чайных наборов. Более подробно вы можете с ними ознакомится в
                    каталоге выше.
                </div>
                <h3
                    class="d-flex flex-row-reverse justify-content-between align-items-center p-3 bg-primary bg-gradient">
                    В какой срок осуществляется доставка?</h3>
                <div>
                    Мы пользуемся услугами самой быстрой логистической компании, поэтому вы можете быть уверены,
                    что
                    ваш заказ будет доставлен в кротчайше возможные сроки.
                </div>
                <h3
                    class="d-flex flex-row-reverse justify-content-between align-items-center p-3 bg-primary bg-gradient">
                    У вас обновляется ассортимент?</h3>
                <div>
                    Мы постоянно ведем работу над расширением нашего ассортимента. Следите за новостями и тогда
                    вы
                    точно не пропустите новинки.
                </div>
                <h3
                    class="d-flex flex-row-reverse justify-content-between align-items-center p-3 bg-primary bg-gradient">
                    Какого объема у вас пачки чая?</h3>
                <div>
                    Стандартная пачка рассчитана на 10 порций готового напитка.
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Уникальное предложение!</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                Скорее переходите в наш каталог, выбирайте понравившийся товар, оформляйте заказ и получите гарантированную скидку 90%. Предложение ограничено!
                <span class="fw-bold">Предложение заканчивается через: {{ discountRemainigTime }}</span>
            </div>
            <div class="modal-footer justify-content-between">
                <a class="btn btn-primary w-100" [routerLink]="'/catalog'" data-bs-dismiss="modal">Перейти в каталог</a>
            </div>
        </div>
    </div>
</div>